[package]
name = "trauma"
version = "2.0.0"
edition = "2021"
license = "MIT"
description = "Simplify and prettify HTTP downloads"
homepage = "https://github.com/rgreinho/trauma"
repository = "https://github.com/rgreinho/trauma"
readme = "README.md"
categories = ["concurrency"]
keywords = ["http", "download", "async", "tokio", "indicatif"]


# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
futures = "0.3.21"
indicatif = "0.17.0-rc.10"
reqwest = { version = "0.11.9", features = ["stream", "socks"] }
reqwest-middleware = "0.1.5"
reqwest-retry = "0.1.4"
reqwest-tracing = { version = "0.3.0", features = ["opentelemetry_0_17"] }
thiserror = "1.0.30"
tracing = "0.1"
tracing-opentelemetry = "0.17"
tokio = { version = "1.17.0", features = ["macros", "rt-multi-thread"] }
url = "2.2.2"
http = "0.2.6"

[dev-dependencies]
color-eyre = "0.6.1"
comfy-table = "6.0.0"
console = "0.15"
opentelemetry = "0.17"
rand = "0.8.5"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
