[package]
name = "trauma"
version = "2.2.4"
edition = "2021"
license = "MIT"
description = "Simplify and prettify HTTP downloads"
homepage = "https://github.com/rgreinho/trauma"
repository = "https://github.com/rgreinho/trauma"
readme = "README.md"
categories = ["concurrency"]
keywords = ["http", "download", "async", "tokio", "indicatif"]

[dependencies]
futures = "0.3.25"
indicatif = "0.17.3"
reqwest = { version = "0.11.24", features = ["stream", "socks"] }
reqwest-middleware = "0.2.4"
reqwest-retry = "0.3.0"
reqwest-tracing = { version = "0.4.7", features = ["opentelemetry_0_17"] }
task-local-extensions = "0.1.3"
thiserror = "1.0.38"
tracing = "0.1"
tracing-opentelemetry = "0.22"
tracing-subscriber = "0.3"
tokio = { version = "1", features = ["macros", "rt-multi-thread"] }
form_urlencoded = "1.1.0"

[dev-dependencies]
color-eyre = "0.6.1"
comfy-table = "7.0.0"
console = "0.15"
opentelemetry = "0.21"
rand = "0.8.5"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
